<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.congtyhai.haidms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.congtyhai.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/main_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginNameActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".login.LoginPassActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".login.LoginCodeActivity"
            android:theme="@style/SplashTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Agency.ShowAgencyActivity"
            android:label="@string/title_activity_show_agency"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Agency.AddAgencyActivity"
            android:label="@string/title_activity_add_agency"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Agency.FindAgencyC1Activity"
            android:label="@string/title_activity_find_agency_c1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Agency.ShowAgencyDetailActivity"
            android:label="@string/title_activity_show_agency_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".calendar.StaffCalendarActivity"
            android:label="@string/title_activity_staff_calendar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".calendar.CreateCalendarActivity"
            android:label="@string/title_activity_create_calendar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".checkin.CheckInActivity"
            android:label="@string/title_activity_check_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".checkin.CheckInTaskActivity"
            android:label="@string/title_activity_check_in_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".showinfo.ShowProductActivity"
            android:label="@string/title_activity_show_product"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".showinfo.ShowProductDetailActivity"
            android:label="@string/title_activity_show_product_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".checkin.DecorActivity"
            android:label="@string/title_activity_decor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".checkin.DecorImageActivity"
            android:label="@string/title_activity_decor_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".product.ProductTaskActivity"
            android:label="@string/title_activity_product_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".product.ProductManageActivity"
            android:label="@string/title_activity_product_manage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Util.SimpleScanActivity"
            android:label="HAI"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".product.ProductScanActivity"
            android:label="@string/title_activity_product_scan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainAgencyActivity"
            android:label="@string/title_activity_main_agency"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Util.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Firebase Notifications -->
        <service android:name="com.congtyhai.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.congtyhai.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- ./Firebase Notifications -->

        <activity
            android:name=".Util.NotificationDetailActivity"
            android:label="@string/title_activity_notification_detail"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name="com.congtyhai.util.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".order.ShowOrderActivity"
            android:label="@string/title_activity_show_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".order.CompleteOrderActivity"
            android:label="@string/title_activity_complete_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".showinfo.CheckStaffActivity"
            android:label="@string/title_activity_check_staff"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>